 /* Adicione estilos personalizados aqui */
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #232f3e;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    border: solid 2px;
    margin-right: 20px; /* Adicione a margem direita aqui */
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px;
    border-radius: 3px;
}

.search-bar input[type="text"] {
    border: none;
    outline: none;
    padding: 6px;
    font-size: 16px;
    flex: 1;
}

.search-bar button {
    background-color: #f0c14b;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    margin-left: 8px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    background-color: #131921;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.product-card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    background-color: #fff;
}

.product-card img {
    max-width: 100%;
    height: auto;
}

.product-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.product-card p {
    color: #888;
    margin-top: 5px;
}

.login-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 3px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

.login-form button {
    background-color: #232f3e;
    color: #fff;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}